//commmon layout
$layout: 1024px;
$base-font-size: 12px;
$base-font: 'Open Sans', sans-serif;

//general
*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-family: $base-font;
}

//buttons
button{
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
}
.btn{
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  &.btn--success{
    background: $button;
    color: white;
    font-size: 12px;
    text-transform: capitalize;
  }
}

//form
input[type="text"],
input[type="url"],
input[type="number"]{
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;
  background: transparent;
}

//icons
.icon{
  position: relative;
  display: inline-block;
  &.icon--search{
    font-size: 10px;
    width: 1em;
    height: 1em;
    &:before{
      content: '';
      position: absolute;
      border: solid .15em #395A7A;
      border-radius: 50%;
      width: .8em;
      height: .8em;
      top: 0;
      left: 0;
    }
    &:after{
      content: '';
      position: absolute;
      border: solid .1em #395A7A;
      background: #395A7A;
      width: .5em;
      transform: rotate(45deg) translateX(1.2em) translateY(.2em);
      top: 0;
      left: 0;
    }
  }
  &.icon--check{
    display:inline-block;
    &:after{
      content: '';
      display: block;
      width: 5px;
      height: 9px;
      border: solid $font-color;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
  &.icon--trash{
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    cursor: pointer;
    margin-left: 10px;
    font-size: 4px;
    position:relative;
    top: 2px;
    width:2.1em;
    height:2.5em;
    background: #ef5350;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    box-shadow: inset 0 0 0 0.5em #ef5350,inset 0.55em 0.2em 0 0.15em #fff,inset -0.55em 0.2em 0 0.15em #fff,
    inset 0.9em 0 0 0.15em #ef5350,inset 1em 0 0 0.15em #fff;
    transition: all .2s ease;
    &:before{
      content: "";
      position: absolute;
      top: -0.6em;
      left: -0.15em;
      width: 2.2em;
      height: 0.15em;
      background: #ef5350;
      border: 0.15em solid #ef5350;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;

    }
    &:after{
      content:"";
      position:absolute;
      display:block;
      top: -1.2em;
      left: 0.8em;
      bottom:4.2em;
      width: 0.6em;
      height:0.6em;
      background: #ef5350;
      border-top-left-radius: 0.3em;
      border-top-right-radius: 0.3em;
    }
    &.active{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &.icon--pencil{
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    left: 15px;
    width: 0.35em;
    height: 0.8em;
    background: #2687E9;
    transform: rotate(45deg) translateY(5px);
    transition: all .2s .2s ease;
    &:before{
      content: "";
      position: absolute;
      top: -0.35em;
      left: 0;
      width: 0.35em;
      height: 0.3em;
      background: #2687E9;
      border-radius: 0.1em;
    }
    &:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0.85em;
      left: 0;
      border: solid 0.2em #2687E9;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top: solid 0.45em #2687E9;
    }
    &.active{
      transform: rotate(45deg) translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
