//commmon layout
$layout: 1024px;
$base-font-size: 12px;
$base-font: 'Open Sans', sans-serif;

//general
*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-family: $base-font;
}

//utils
.tar{
  text-align: right;
}

//buttons
button{
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
}
.btn{
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  &.btn--success{
    background: $button;
    color: white;
    font-size: 12px;
    text-transform: capitalize;
  }
}

//form
input[type="text"],
input[type="url"],
input[type="number"]{
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;
  background: transparent;
}

//icons
.icon{
  position: relative;
  display: inline-block;
  &.icon--search{
    font-size: 10px;
    width: 1em;
    height: 1em;
    &:before{
      content: '';
      position: absolute;
      border: solid .15em #395A7A;
      border-radius: 50%;
      width: .8em;
      height: .8em;
      top: 0;
      left: 0;
    }
    &:after{
      content: '';
      position: absolute;
      border: solid .1em #395A7A;
      background: #395A7A;
      width: .5em;
      transform: rotate(45deg) translateX(1.2em) translateY(.2em);
      top: 0;
      left: 0;
    }
  }
  &.icon--check{
    display:inline-block;
    &:after{
      content: '';
      display: block;
      width: 5px;
      height: 9px;
      border: solid $font-color;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
