// IMPORTS
@import "../node_modules/normalize.css/normalize";
@import "componentes/skin";
@import "componentes/animation";
@import "componentes/layout";
@import "componentes/modal";

//guide
html, body{
  height:100%;
}
body{
  //background: url("../layout.png") no-repeat center top;
  background-color: #F1F4F9;
}

//common
.container{
  max-width: $layout;
  margin: 0 auto;
}
header.main-header{
  background: $header;
  height: 50px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  h1{
    font-size: 0; //SEO
    margin: 0;
  }
  img{
    width: 115px;
  }
}
.cars-info{
  border: solid 1px gray;
  padding: 20px 40px;
  header{
    display: flex;
    justify-content: space-between;
    .addCar{
      padding: 14px 40px; //@override btn
    }
    .search{
      background: #fff;
      position: relative;
      border: solid 1px $border-color;
      border-radius: 4px;
      width: 215px;
      height: 40px;
      form{
        width: 100%;
        height: 100%;
      }
      input{
        font-size: $base-font-size;
        height: 100%;
        color: #AEB6BB;
        width: 173px;
        &::-webkit-input-placeholder{
          color: #AEB6BB;
        }
      }
      .icon-search{
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        background: $gray;
        border-left: solid 1px $border-color;
        width: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon--search{ // @override icon
          top: -2px;
          left: -2px;
        }
      }
    }
  }
  .cars-table{
    margin-top: 100px;
    table {
      width:100%;
      height:100%;
      border: 1px solid #C0C0C0;
      border-collapse: collapse;
      font-family: sans-serif;
      th {
        border:1px solid #C0C0C0;
        padding:5px;
        background: $gray;
        text-transform: capitalize;
      }
      td {
        border:1px solid #C0C0C0;
        text-align:left;
        padding:5px;
        background:#FFFFFF;
      }
    }
  }
}
