// IMPORTS
@import "../node_modules/normalize.css/normalize";
@import "componentes/skin";
@import "componentes/animation";
@import "componentes/layout";
@import "componentes/modal";

//guide
html, body{
  height:100%;
}
body{
 // background: url("../layout.png") no-repeat center top;
  background-color: #F1F4F9;
}

//common
.container{
  max-width: $layout;
  margin: 0 auto;
}
header.main-header{
  background: $header;
  height: 50px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  h1{
    font-size: 0; //SEO
    margin: 0;
  }
  img{
    width: 115px;
  }
}
.cars-info{
  padding: 20px 40px;
  padding-bottom: 40px;
  header{
    display: flex;
    justify-content: space-between;
    .addCar{
      padding: 12px 40px; //@override btn
    }
    .search{
      background: #fff;
      position: relative;
      border: solid 1px $border-color;
      border-radius: 4px;
      width: 215px;
      height: 40px;
      form{
        width: 100%;
        height: 100%;
      }
      input{
        font-size: $base-font-size;
        height: 100%;
        color: #AEB6BB;
        width: 173px;
        &::-webkit-input-placeholder{
          color: #AEB6BB;
        }
      }
      .icon-search{
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        background: $gray;
        border-left: solid 1px $border-color;
        width: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon--search{ // @override icon
          top: -2px;
          left: -2px;
        }
      }
    }
  }
  .cars-table{
    margin-top: 20px;
    table{
      width:100%;
      height:100%;
      border-collapse: collapse;
      tr{
        background: #fff;
        border: solid 1px $border-color;
        transition: background .2s ease;
        &.active{
          background: $highlight;
          border: solid 1px #58A2ED;
          td{
            border-top: solid 1px #58A2ED;
          }
        }
      }
      th{
        position: relative;
        padding: 13px 10px;
        background: $gray;
        text-transform: capitalize;
        font-size: $base-font-size;
        color: $font-color;
        text-align: left;
      }
      td{
        position: relative;
        text-align:left;
        font-size: 13px;
        color: #67819A;
        font-weight: bold;
        padding: 18px 10px;
        &:first-child {
          text-transform: uppercase;
        }
        .icon--check{
          top: 20px !important;
        }
      }
      .foto{
        color: #58A2ED;
      }
      input[type=checkbox]{
        outline: none;
        -webkit-appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        margin-left: 3px;
        border-radius: 4px;
        cursor: pointer;
        vertical-align: middle;
        border: solid 1px $border-color;
        & + .icon{
          position: absolute;
          left: 19px;
          top: 16px;
          opacity: 0;
          visibility: hidden;
          transition: all .2s ease;
          pointer-events: none;
        }
        &:checked{
          border-color: #58A2ED;
          & + .icon{
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
footer{
  max-width: $layout;
  margin: 0 auto;
  #pagination{
    display: none;
    &.active{
      display: block;
    }
  }
  ul{
    display: flex;
    justify-content: center;
    li{
      font-family: $base-font;
      width: 40px;
      height: 40px;
      font-size: $base-font-size;
      font-weight: bold;
      color: $font-color;
      line-height: 40px;
      text-align: center;
      background: #fff;
      border: solid 1px $border-color;
      cursor: pointer;
      &:first-child{
        border-right: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child{
        border-left: none;
      }
      &:hover{
        background: #FFFAEB;
      }
      &.active{
        background: $highlight;
        border-color: #58A2ED;
      }
      a, span{
        display: block;
      }
    }
  }
}